<div class="container">
  <%= render "layouts/error", object: @procedure %>
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-8 offset-2">
      <h4 class="text-center my-5">手順の追加</h4>

      <%= form_with model: @procedure, url: recipe_procedures_path(params[:recipe_id]) do |f| %>
        <%= f.hidden_field :recipe_id %>

        <div class="form-group">
          <%= f.label "手順" %>
          <%= f.text_area :description, placeholder: "60文字以内", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "追加", class: "btn btn-warning btn-block btn-{themecolor} rounded-pill" %>
        </div>
      <% end %>

      <% @procedures.each do |procedure| %>
        <p><%= procedure.description %></p>
        <p><%= link_to "削除", recipe_procedure_path(params[:recipe_id], procedure), method: :delete, class: "btn btn-danger btn-{themecolor} rounded-pill" %></p>
      <% end %>
      <% if @procedures.present? %>
        <%= link_to "決定", recipe_path(params[:recipe_id]), class: "btn btn-warning btn-block btn-{themecolor} rounded-pill mb-5" %>
      <% end %>
    </div>
    <div class="offset-lg-4 offset-md-3 offset-sm-2 offset-2"></div>
  </div>
</div>