<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h4 class="text-center my-5">手順の追加</h4>

      <%= form_with model: @procedure, url: recipe_procedures_path(params[:recipe_id]) do |f| %>
        <%= f.hidden_field :recipe_id %>

        <div class="form-group">
          <%= f.label "手順" %>
          <%= f.text_area :description, placeholder: "60文字以内で入力してください", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "追加する", class: "btn btn-warning btn-block btn-{themecolor} rounded-pill" %>
        </div>
      <% end %>

      <% @procedures.each do |procedure| %>
        <p><%= procedure.description %></p>
        <p><%= link_to "削除", recipe_procedure_path(params[:recipe_id], procedure), method: :delete, class: "btn btn-danger btn-{themecolor} rounded-pill" %></p>
      <% end %>

      <%= link_to "レシピを投稿する", recipe_path(params[:recipe_id]), class: "btn btn-warning btn-block btn-{themecolor} rounded-pill" %>
    </div>
  </div>
</div>