<div class="container">
  <div class="row my-5">
    <div class="col-md-12">
      <h4 class="text-center">レシピ一覧</h4>
    </div>
  </div>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
        <div class="card">
          <%= link_to admin_recipe_path(recipe) do %>
            <%= image_tag recipe.image, style: "object-fit: cover; height: 253px; width: 100%;" %>
          <% end %>
          <div class="card-body">
            <div class="star-average-<%= recipe.id %>"></div>
              <script>
                $(".star-average-<%= recipe.id %>").empty();
                $(".star-average-<%= recipe.id %>").raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : "<%= asset_path('star-half.png') %>",
                half      : false,
                readOnly: true,
                score: <%= recipe.reviews.average(:star).to_f.round(1) %>,
              });
              </script>
              <span>(<%= recipe.reviews.count %>件)</span>
            <p class="card-text"><strong><%= recipe.name %></strong></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= paginate @recipes %>
    </div>
  </div>
</div>