<div class="container">
  <div class="row my-5">
    <div class="col-md-7">
      <%= image_tag @recipe.image, class: "show-image" %>
    </div>
    <div class="col-md-5">
      <h4 class="mb-2"><strong><%= @recipe.name %></strong></h4>
      <div id="star-average-<%= @recipe.id %>" class="d-inline"></div>
        <script>
          $("#star-average-<%= @recipe.id %>").empty();
          $("#star-average-<%= @recipe.id %>").raty({
          size      : 36,
          starOff   : "<%= asset_path("star-off.png") %>",
          starOn    : "<%= asset_path("star-on.png") %>",
          starHalf  : "<%= asset_path("star-half.png") %>",
          half      : false,
          readOnly: true,
          score: <%= @recipe.reviews.average(:star).to_f.round(1) %>,
        });
        </script>
        <span>(<%= @recipe.reviews.count %>件)</span>
      <div class="mt-3">
        <% @tags.each do |tag| %>
          <%= link_to search_tag_path(tag_id: tag.id) do %>
            <span class="text-dark">#<%= tag.tag_name %></span>
          <% end %>
        <% end %>
      </div>
      <% if @customer != current_customer %>
      <div class="mt-5" id="favorite_buttons_<%= @recipe.id %>">
        <%= render "public/favorites/favorite", recipe: @recipe %>
      </div>
      <% end %>
      <div class="border border-secondary rounded mt-5 mb-4 px-2">
        <div class="recipe-component">
          <p><i class="fas fa-fire"></i> <strong>カロリー</strong></p>
          <p><strong><%= @recipe.calorie %></strong> kcal</p>
        </div>
        <div class="recipe-component">
          <p><i class="fas fa-drumstick-bite"></i> <strong>たんぱく質</strong></p>
          <p><strong><%= @recipe.protein %></strong> g</p>
        </div>
        <div class="recipe-component">
          <p><i class="fas fa-fish"></i> <strong>脂質</strong></p>
          <p><strong><%= @recipe.fat %></strong> g</p>
        </div>
        <div class="recipe-component">
          <p><i class="fas fa-bread-slice"></i> <strong>炭水化物</strong></p>
          <p><strong><%= @recipe.carbo %></strong> g</p>
        </div>
      </div>
      <p class="mb-5"><%= @recipe.description %></p>
      <div style="display: flex; justify-content: space-between">
        <% if @customer == current_customer %>
          <p><%= link_to "編集", edit_recipe_path(@recipe), class: "btn btn-warning btn-{themecolor} rounded-pill" %></p>
          <p><%= link_to "削除", recipe_path(@recipe), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-danger btn-{themecolor} rounded-pill" %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-7">
      <div style="display: flex; justify-content: space-between">
        <h5 class="mb-4"><strong>手順</strong></h5>
        <% if @customer == current_customer %>
          <p><%= link_to "手順を編集", new_recipe_procedure_path(@recipe), class: "btn btn-warning btn-{themecolor} rounded-pill" %></p>
        <% end %>
      </div>
      <% @procedures.each.with_index(1) do |procedure, i| %>
        <div class="border-bottom border-secondary">
          <p><strong><%= i %></strong> <%= procedure.description %></p>
        </div>
      <% end %>
    </div>
    <div class="col-md-5">
      <div style="display: flex; justify-content: space-between">
        <h5 class="mb-4"><strong>材料(1人分)</strong></h5>
        <% if @customer == current_customer %>
          <p><%= link_to "材料を編集", new_recipe_food_path(@recipe), class: "btn btn-warning btn-{themecolor} rounded-pill" %></p>
        <% end %>
      </div>
      <% @foods.each do |food| %>
        <div class="border-bottom border-secondary" style="display: flex; justify-content: space-between">
          <p><%= food.name %></p>
          <p><%= food.amount %></p>
        </div>
      <% end %>
    </div>
  </div>
  <% if @customer != current_customer %>
  <div class="row mb-5">
    <div class="col-md-12">
      <h4 class="mb-4"><strong>このレシピを評価する</strong></h4>
      <%= form_with model: [@recipe, @review] do |f| %>
        <div class="form-group" id="star">
          <%= f.hidden_field :star, id: :review_star %>
        </div>

        <script>
        $("#star").empty();
        $("#star").raty({
          size     : 36,
          starOff:  "<%= asset_path("star-off.png") %>",
          starOn : "<%= asset_path("star-on.png") %>",
          scoreName: "review[star]",
          half: false,
        });
        </script>

        <div class="form-group">
          <%= f.text_area :comment, placeholder: "200文字以内", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "投稿", class: "btn btn-warning btn-{themecolor} rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-4"><strong>レビュー</strong></h4>
      <% if @reviews.present? %>
        <% @reviews.each do |review| %>
          <p><strong><%= review.customer.name %></strong></p>
          <div class="mb-4" id="star-rate<%= review.id %>"></div>
            <script>
              $("#star-rate<%= review.id %>").empty();
              $("#star-rate<%= review.id %>").raty({
              size      : 36,
              starOff   : "<%= asset_path("star-off.png") %>",
              starOn    : "<%= asset_path("star-on.png") %>",
              half      : false,
              readOnly: true,
              score: <%= review.star %>,
            });
            </script>
          <div class="border-bottom border-secondary">
            <p><%= review.comment %></p>
            <% if review.customer == current_customer %>
              <p><%= link_to "削除", recipe_review_path(@recipe, review), method: :delete, class: "btn btn-danger btn-{themecolor} rounded-pill" %></p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>レビューは0件です</p>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <%= paginate @reviews %>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-12  border border-secondary rounded">
      <%= link_to customer_path(@customer), class: "text-dark text-decoration-none" do %>
        <h4 class="my-3">このレシピの作成者</h4>
      <% end %>
      <div class="mt-3">
      <% if current_customer != @customer %>
        <% if @customer.followed_by?(current_customer) %>
          <p><%=link_to "フォロー中", customer_relationships_path(@customer), method: :delete, class: "btn btn-warning btn-{themecolor} rounded-pill" %></p>
        <% else %>
          <p><%=link_to "フォローする", customer_relationships_path(@customer), method: :post, class: "btn btn-outline-warning btn-{themecolor} rounded-pill" %></p>
        <% end %>
      <% end %>
      </div>
      <%= link_to customer_path(@customer), class: "text-dark text-decoration-none" do %>
        <div style="width: 100px; height: 100px;">
          <%= image_tag @customer.get_profile_image, class: "rounded-circle img-thumbnail", style: "width: 100%; height: 100px; object-fit: cover;" %>
        </div>
        <h4 class="mb-5"><%= @customer.name %></h4>
        <p><%= @customer.introduction %></p>
      <% end %>
    </div>
  </div>
</div>
