<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <%= form_with url: searches_path, method: :get do |f| %>
        <%= f.text_field :name, placeholder: "料理名" %>
        <%= f.collection_select(:category, @categories, :id, :name, {prompt: "カテゴリー"}) %>
        <%= f.submit "検索", class: "btn btn-warning btn-{themecolor} rounded-pill" %>
      <% end %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "bento.jpg", class: "rounded slide-image" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "ryori.jpg", class: "rounded slide-image" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "washoku.jpg", class: "rounded slide-image" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-7">
      <div class="border px-2 py-2">
        <% @news.each do |news| %>
          <div class="border-bottom border-dark pb-3 mb-3" style="display: flex;">
          <% if news.urlToImage.present? %>
            <%= image_tag news.urlToImage, style: "height: 68px; width: 68px;" %>
          <% else %>
            <%= image_tag "no_image", style: "height: 68px; width: 68px;" %>
          <% end %>
          <h6 class="ml-2"><%= news.title.truncate(55) %></h6>
          </div>
        <% end %>
        <div class="text-right">
          <%= link_to news_index_path, class: "text-secondary" do %>
            他の記事も見る <i class="fas fa-angle-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4><i class="fas fa-crown" style="color: #f7cb00;"></i> <strong>評価が高いレシピランキング</strong></h4>
    </div>
  </div>
  <%= render "rank", recipes: @star_recipes %>
  <div class="row mb-5">
    <div class="col-md-12 text-right">
      <%= link_to reviews_path, class: "text-secondary" do %>
        もっと見る <i class="fas fa-angle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4><i class="fas fa-crown" style="color: #f7cb00;"></i> <strong>みんなのお気に入りレシピランキング</strong></h4>
    </div>
  </div>
  <%= render "rank", recipes: @favorite_recipes %>
  <div class="row mb-5">
    <div class="col-md-12 text-right">
      <%= link_to favorites_path, class: "text-secondary" do %>
        もっと見る <i class="fas fa-angle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4><i class="fas fa-crown" style="color: #f7cb00;"></i> <strong>アクセス数が多いレシピランキング</strong></h4>
    </div>
  </div>
  <%= render "rank", recipes: @view_count_recipes %>
  <div class="row mb-5">
    <div class="col-md-12 text-right">
      <%= link_to view_counts_path, class: "text-secondary" do %>
        もっと見る <i class="fas fa-angle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4><strong>新着レシピ</strong></h4>
    </div>
  </div>
  <%= render "index", recipes: @recipes %>
</div>
