<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
             <%= image_tag "ryori.jpg", style: "display: block; object-fit: cover; height: 400px; width: 100%;" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "bento.jpg", style: "display: block; object-fit: cover; height: 400px; width: 100%;" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "washoku.jpg", style: "display: block; object-fit: cover; height: 400px; width: 100%;" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-12">
      <%= form_with url: searches_path, method: :get do |f| %>
        <%= f.text_field :name, placeholder: "料理名" %>
        <%= f.collection_select(:category, @categories, :id, :name, {prompt: "カテゴリー"}) %>
        <%= f.submit "検索", class: "btn btn-warning btn-{themecolor} rounded-pill" %>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4><i class="fas fa-crown"></i> みんなが評価したレシピランキング</h4>
    </div>
  </div>
  <%= render "rank", recipes: @star_recipes %>
  <div class="row mb-5">
    <div class="col-md-12 text-right">
      <%= link_to reviews_path, class: "text-secondary" do %>
        もっと見る <i class="fas fa-angle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4><i class="fas fa-crown"></i> みんなのお気に入りレシピランキング</h4>
    </div>
  </div>
  <%= render "rank", recipes: @favorite_recipes %>
  <div class="row mb-5">
    <div class="col-md-12 text-right">
      <%= link_to favorites_path, class: "text-secondary" do %>
        もっと見る <i class="fas fa-angle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4><i class="fas fa-crown"></i> アクセス数ランキング</h4>
    </div>
  </div>
  <%= render "rank", recipes: @view_count_recipes %>
  <div class="row mb-5">
    <div class="col-md-12 text-right">
      <%= link_to view_counts_path, class: "text-secondary" do %>
        もっと見る <i class="fas fa-angle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4>新着レシピ</h4>
    </div>
  </div>
  <%= render "index", recipes: @recipes %>
</div>