<div class="container">
  <div class="row my-5">
    <div class="col-md-12 border border-secondary rounded">
      <%= image_tag @customer.get_profile_image, class: "rounded-circle img-thumbnail customer-image" %>
      <h4 class="mb-2"><%= @customer.name %></h4>
      <p class="mt-5"><%= @customer.introduction %></p>
      <p><%= link_to "プロフィール編集", edit_admin_customer_path(@customer), class: "btn btn-warning btn-{themecolor} rounded-pill" %></p>
    </div>
  </div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active text-secondary" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><strong><%= @customer.name %>さんが投稿したレシピ</strong></a>
      <a class="nav-item nav-link text-secondary" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><strong><%= @customer.name %>さんが投稿したレビュー</strong></a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <% if @recipes.present? %>
        <%= render "public/recipes/index", recipes: @recipes %>
      <% else %>
        <p class="text-center mt-5">投稿がありません</p>
      <% end %>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <% if @reviews.present? %>
        <%= render "admin/reviews/index", reviews: @reviews %>
      <% else %>
        <p class="text-center mt-5">投稿がありません</p>
      <% end %>
    </div>
  </div>
</div>
