<div class="cantainer">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4 class="text-center my-5"><%= @customer.name %>さんの会員詳細</h4>
      <table class="table">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td>自己紹介文</td>
            <td><%= @customer.introduction %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <% if @customer.is_deleted == false %>
              <td class="text-success">有効</td>
            <% else %>
              <td>退会</td>
            <% end %>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-warning btn-{themecolor} rounded-pill" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="offset-md-3"></div>
  </div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active text-secondary" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><strong><%= @customer.name %>さんが投稿したレシピ</strong></a>
      <a class="nav-item nav-link text-secondary" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><strong><%= @customer.name %>さんが投稿したレビュー</strong></a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <% if @recipes.present? %>
        <%= render "public/recipes/index", recipes: @recipes %>
      <% else %>
        <p class="text-center mt-5">投稿がありません</p>
      <% end %>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <% if @reviews.present? %>
        <%= render "admin/reviews/index", reviews: @reviews %>
      <% else %>
        <p class="text-center mt-5">投稿がありません</p>
      <% end %>
    </div>
  </div>
</div>
