<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-8 offset-2">
      <h4 class="text-center mb-3">ユーザー登録</h4>

      <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field mb-4">
          <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", class: "form-control" %>
        </div>

        <div class="field mb-4">
          <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="field mb-4">
          <% if @minimum_password_length %>
          <em>(パスワードは<%= @minimum_password_length %>文字以上に設定してください)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "form-control" %>
        </div>

        <div class="field mb-5">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)", class: "form-control" %>
        </div>

        <div class="actions mb-4">
          <%= f.submit "ユーザー登録(無料)", class: "btn btn-warning btn-block btn-{themecolor} rounded-pill" %>
        </div>
      <% end %>
      <div class="text-center">
        <%= render "public/shared/links" %>
      </div>
    </div>
    <div class="offset-lg-4 offset-md-3 offset-sm-2 offset-2"></div>
  </div>
</div>
