<div class="container">
  <%= render "layouts/error", object: @category %>
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-8 offset-2">
      <h4 class="text-center my-5">カテゴリー追加</h4>
      <%= form_with model: @category, url: admin_categories_path do |f| %>
        <div class="form-group mb-4">
          <%= f.text_field :name, autofocus: true, placeholder: "カテゴリー名(20文字以内)", class: "form-control" %>
        </div>

        <div class="form-group mb-5">
          <%= f.submit "新規登録", class: "btn btn-warning btn-block btn-{themecolor} rounded-pill" %>
        </div>
      <% end %>
      <h4 class="text-center mb-4">カテゴリー一覧</h4>
      <% @categories.each do |category| %>
        <div class="mb-3 category-menu">
          <p><strong><%= category.name %></strong></p>
          <p><%= link_to "編集", edit_admin_category_path(category), class: "btn btn-warning btn-{themecolor} rounded-pill" %></p>
          <p><%= link_to "削除", admin_category_path(category), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-danger btn-{themecolor} rounded-pill" %></p>
        </div>
      <% end %>
    </div>
    <div class="offset-lg-4 offset-md-3 offset-sm-2 offset-2"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= paginate @categories %>
    </div>
  </div>
</div>