<% visiter = notification.visiter %>
<% recipe = notification.recipe %>

<div class="customer-view clearfix border-bottom mb-4">
  <%= link_to customer_path(notification.visiter) do %>
    <%= image_tag visiter.get_profile_image, class: "rounded-circle img-thumbnail", style: "object-fit: cover; height: 50px; width: 50px;" %>
  <% end %>
  <%= notification_form(notification) %>
  <% if !@review.nil? %>
    <p class="moderate-font text-center text-dark mt-3"><%= @review %></p>
  <% end %>
  <div class="small text-muted text-right"><%= time_ago_in_words(notification.created_at).upcase %>前</div>
</div>