<!DOCTYPE html>
<html>
  <head>
    <title>BodymakeKitchen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <% if request.fullpath.include? "admin"  %>
        <%= render "layouts/admin_header" %>
      <% else%>
        <%= render "layouts/public_header" %>
      <% end %>
    </header>
    <main>
      <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h5><%= notice %></h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
      <% if request.fullpath.include? "admin"  %>
        <%= render "admin/searches/search" %>
      <% end %>
    </main>
    <%= yield %>
  </body>
</html>
